{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load json_filters %}

{% block navigation %} {% endblock %}

{% block notitle %}{% endblock %}

{% block content %}

<script type="text/javascript">
  phenoclim.options = {
    geojson: {},
  }
</script>
<div class="row  table-row">
  <div class=" col-xs-8 col-md-8  table-col">
    <div id="map" class="map obs_map"></div>
  </div>
</div>

<script type="text/javascript">
  phenoclim = phenoclim || {}
  phenoclim.session = phenoclim.session || {};
  phenoclim.mapviz = phenoclim.mapviz || {};

  // INIT UI
  phenoclim.mapviz.load_layers = function () {

    {% autoescape off %}
    var relays_list = {{ relays }};
    {% endautoescape %}

    relays_list.forEach(function (item) {
      if (item.lat && item.lon) {

        var marker = L.circleMarker([item.lat, item.lon], {
          radius: 10,
          weight: 1,
          opacity: 1,
          fillOpacity: 0.2,
          color: "blue"
        }).addTo(phenoclim.session.map_layers);
        marker.bindPopup(
          "<div>" +
          "<div class='text-center'><img class='popup-logo' src='" + item.logo + "' alt='logo'>"+
          "<p class='popup-text'> Organisme: " + item.organism + "</p></div>"+
          "<p class='popup-list'>Adresse:</p>" +
          "<p class='popup-text'>" + (item.adresse ? item.adresse : "")  + "</p>"+
          "<p class='popup-list'>Contact:</p>"+
          "<p class='popup-text'>" + (item.email ? item.email : "") + "</p>"+
          "<p class='popup-text'>" + (item.phone ? item.phone : "") + "</p>"+
          "<p class='popup-list'>Site web:</p>"+
          "<a class='popup-text' href='http://" + item.web_site + "'>" + (item.web_site ? item.web_site : "") + "</a>" +
          "</div>"
        );
      }
    });
  }




  $(document).ready(function () {

    $(".map").on("map_init", function () {
      phenoclim.session.map_layers = L.featureGroup().addTo(phenoclim.session.map._map);
      phenoclim.mapviz.load_layers()

    });
  });
</script>

{% endblock %}