{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}

{% block title %} {% trans 'My profil' %} {% endblock %}

{% block content %}
<div class="row  table-row">

  <div class="col-xs-5  table-col">

    <form method="post" class="form-horizontal" role="form">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons %}
        <button type="submit" class="btn btn-primary btn-lg btn-block">
          {% trans 'Validate' %}
        </button>
      {% endbuttons %}
        <a href="password_change" class="btn btn-link btn-lg">
          {% trans 'Change password' %}
        </a>
    </form>

  </div>

 </div>

{% endblock %}
