{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock %}
{% block content %}
<script type="text/javascript">
	window.iFrameResizer = {
    readyCallback: function(){
      if('parentIFrame' in window){
          setTimeout(function() {
            parentIFrame.sendMessage( { "positionScroll": 0 } );
          }, 0);
        }
      }
  }
  </script>
<div class="row  table-row">

  <div class=" col-xs-12 col-md-12 table-col">
	<p class="text-center">
	{% blocktrans %}We have sent you an email with the password. <br/> Please check your email.{% endblocktrans %}
	</p>
  </div>
 </div>
{% endblock %}
